__pycache__/
*.pyc
*.pyo

build/
devel/
install/
logs/
.catkin_tools/

*.bag
*.mp4
*.avi
*.mkv
*.zip
*.tar.gz

.vscode/
.DS_Store

**/legacy_launch/
**/legacy_scripts/
**/archive_old_launch/
**/archive_old_scripts/
