<launch>
    <arg name="image_topic" default="/stereo/left/image_rect_color"/>
    <arg name="bbox_topic" default="/net_hole_detector/stereo_left/bounding_boxes"/>
    <arg name="fastsam_weights" default="$(find net_hole_detector)/weights/FastSAM-s.pt"/>

    <node pkg="net_hole_detector"
          type="hole_segmenter_fastsam.py"
          name="hole_segmenter_fastsam"
          output="screen">

        <env name="LD_PRELOAD" value="/lib/x86_64-linux-gnu/libffi.so.7"/>

        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="bbox_topic" value="$(arg bbox_topic)"/>
        <param name="fastsam_weights" value="$(arg fastsam_weights)"/>

        <param name="conf" value="0.4"/>
        <param name="iou" value="0.9"/>
        <param name="imgsz" value="640"/>
        <param name="period" value="0.2"/>
    </node>
</launch>