<launch>
    <node pkg="net_hole_detector"
          type="hole_alignment_monitor.py"
          name="hole_alignment_monitor"
          output="screen">

        <param name="image_topic" value="/stereo/left/image_rect_color"/>
        <param name="mask_topic" value="/net_hole_detector/stereo_left/hole_mask"/>
        <param name="camera_info_topic" value="/girona500/xiroi/stereo_ch3/left_optical/camera_info"/>

        <!-- tolerancia para considerar el agujero centrado -->
        <param name="tolerance_u_px" value="35"/>
        <param name="tolerance_v_px" value="45"/>

        <!-- evita ruido de máscaras pequeñas -->
        <param name="min_mask_area_px" value="100"/>

        <!-- debe estar centrado varios frames seguidos -->
        <param name="stable_frames_required" value="5"/>
    </node>
</launch>
